[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
SQLAlchemy = "*"
faker = "*"

[requires]
python_full_version = "3.8.10"
